/* GRID SQUARE STYLES */
/* Example of use
https://codepen.io/anon/pen/zwWqPa
*/

@import "variables";
@import "mixins";

.square-container {
  padding: 0px;
  margin: 0;
  display: block;
  width: 100%;
  min-height: 100px;
  background: blue;

  &:after {
    clear: both;
  }

  .square-definitions(false);

  &.lg-container {
    .square-definitions(true);
  }
}

.red {
  background: red;
}

.green {
  background: green;
}