/* GRID SQUARE STYLES */
/* Example of use
https://codepen.io/anon/pen/zwWqPa
*/

@import "variables";
@import "mixins";

.square-container {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 100%;

  &:after {
    clear: both;
  }

  .square-definitions(false);

  &.lg-container {
    .square-definitions(true);
  }
}